@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FF385C;
  --primary-dark: #E31C5F;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  body {
    @apply text-gray-900 bg-gray-50;
  }
}
